<div class="container">
<h3> Add user</h3>
  
  <div class="row">
    <form class="col s12" action="/" method="post">
     <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" name="email">
          <label for="first_name">e-mail</label>
        </div>
     <div class="input-field col s6">
    <select name="role" multiple>
      {{!-- <option value="role" disabled selected>Choose your option</option> --}}
      <option value="Student">Student</option>
      <option value="TeacherAssistant">Teacher Assistant</option>
      <option value="LeadTeacher">Lead Teacher</option>
      <option value="Staff">Staff</option>
      <option value="IronBuddy">Iron Buddy</option>
    </select>
    <label>User</label>
  </div>
 </div>
   <button class="btn waves-effect blue lighten-2" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    </form>
  </div>
</div>