<div class="container">

  <div id="searched-users">
  {{#if user}}
    {{#each user as |user|}}
      <div class="card-image">
        <img src="{{user.photoURL}}" name="photoURL" alt="profile_image" id="profilepic" class="responsive-img">
        <div class="card-body">
          <h5 class="card-title"><a href="process.env.DB/{{user.username}}">{{user.lastName}}</a></h5>
        </div>
      </div>
    {{/each}}
  {{else}}
    <h1>No user found</h1>
  {{/if}}
</div>