<div class="row container">
    <!-- Page Layout here -->
    <div class="row">
      <div class="col s3" >
          <h5 class="center-align blue-text text-blue lighten-2">Events</h5>
            <div class="collection">
                <a href="#!" class="collection-item grey-text">Crear eventos</a>
                <a href="#!" class="collection-item grey-text">Eventos</a>
            </div>
            <h5 class="center-align blue-text text-blue lighten-2">Adds</h5>
            <div class="collection">
                <a href="#!" class="collection-item grey-text">Find books</a>
                <a href="#!" class="collection-item grey-text">Find who helps</a>
            </div>
      </div>
    

      <div class="col s9">
        <div class="col l9">
            <h5 class="header blue-text text-blue lighten-2">Nombre de usuario</h5>
            <div class="card horizontal hoverable">
            <div class="card-image">
                <img src="../images/Staff hombre.png"> <!-- imagen de perfil de usuario -->
            </div>
            <div class="card-stacked">
                <div class="card-content">
                <p class="grey-text">El viernes hay Iron chelas!!!!!!.</p>
                </div>
                <!-- Modal Trigger -->
                    <a class="waves-effect  blue lighten-2 btn modal-trigger" href="#modal1">Comment</a>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                        <h4>Comment</h4>
                            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                            <label for="first_name">your comment</label>
                        </div>
                        <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect  blue lighten-2 btn-flat">comment</a>
                        <a href="#!" class="modal-close waves-effect  blue lighten-2 btn-flat">Cancel</a>
                        </div>
                    </div>          
            </div>
            </div>
        </div>
      </div>

    </div>