
<div class= "login">
<h3>log in</h3>
  
<div class="row">
    <form class="col s12" action="/login" method="post">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">mail</i>
          <textarea id="icon_prefix2" class="materialize-textarea" name="email"></textarea>
          <label for="icon_prefix2">e-mail</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">lock</i>
          <textarea id="icon_prefix2" class="materialize-textarea" name="password"></textarea>
          <label for="icon_prefix2">password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    </form>
  </div>
  </div>