<div class="container">

<h1>{{user.username}}</h1>
<h1>{{user.lastName}}</h1>
<p>{{user.role}}</p>
<h2>Mis posts</h2>

{{!-- boton para crear post  --}}
 
  <!-- Modal Trigger -->
  <a class="waves-effect blue lighten-2 btn modal-trigger" href="#modal1"><i class="material-icons left">add</i>Add post</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add your post</h4>
      <input placeholder="Placeholder" id="first_name" type="text" class="validate">
      <div class="form-group">
            <div class="custom-file">
              <input name="photoURL" type="file" class="custom-file-input" id="validatedCustomFile">
              <label class="custom-file-label" for="validatedCustomFile">
                <span>Choose file...</span>
              </label>
            </div>
          <label for="post">write your post</label>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect blue lighten-2 btn-flat">add</a>
      <a href="#!" class="modal-close waves-effect blue lighten-2 btn-flat">cancel</a>
    </div>
  </div>


{{!-- boton para editar perfil --}}
  {{!-- <!-- Modal Trigger -->
  <a class="waves-effect blue lighten-2 btn modal-trigger" href="#modal1"><i class="material-icons left">create</i>Edit profile</a>

  <!-- Modal Structure -->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect blue lighten-2 btn-flat">Edit</a>
      <a href="#!" class="modal-close waves-effect blue lighten-2 btn-flat">cancel</a>
    </div>
  </div> --}}

</div>