 <div class="parallax-container">
      <div class="parallax"><img src="images/campus_ironhack.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header" "grey-text text-darken-3 blue lighten-2">About Ironhack</h2>
        <p class="grey-text text-darken-3 blue lighten-2">Aprende programación y diseño a través de uno de nuestros cursos a tiempo completo o a tiempo parcial. Bootcamp en Desarrollo Web, Bootcamp en Diseño UX/UI y Bootcamp en Data.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/ironhack_campus_2.jpg"></div>
    </div>