
<div class="index">
    <div class="container">
    <div class="row">
        <div class="col s12">
                <div class="section-text">
                    <div class="col s6" >
                        <br/>
                        <h3>Hey, welcome to our 
                    Amazing social network!</h3>
                    <br/>
                    <h5>Only for Ironhackers.</h5>
                    <br/>
                    <p>Because we know slack is not enough and email is too boring. 
                        Share your day with all the ironhackers and check what they are up to.</p>

                    <button class="btn waves-effect blue lighten-2" type="link">
                    <i class="material-icons right">send</i>
                        <a class="blue lighten-5" href="/signup">
                        Sign up
                        </a> 
                    </button>
                    </div>
                </div>
                <div class="section-image">
                    <div class="col s6">
                        <img class="responsive-img" src="../images/homepage.png">
                    </div>
                </div>

            </div>
        </div>
    </div>


    </div>



