<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="icon" type="image/png" href="../images/favicon.ico" sizes="64x64">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

   <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right"><img class="responsive-img" id="logo" src="../images/logo menu.png"/></a>
      <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/">About us</a></li>
        <li><a href="login"> Log In</a></li>
        <li><a href="/"> Notificaciones <span class="new badge blue lighten-2">4</span></a></li>
        <li><a href="/"> Add student</a></li>
      </ul>
    </div>
  </nav>

  {{!-- este es el nav responsive --}}

  <ul class="sidenav right" id="mobile-demo">
    <li><a href="/">Home</a></li>
        <li><a href="/">About us</a></li>
        <li><a href="login"> Log In</a></li>
        <li><a href="/"> Notificaciones <span class="new badge blue lighten-2">4</span></a></li>
        <li><a href="/"> Add student</a></li>
  </ul>

 {{{body}}}


  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="/javascripts/script.js"></script>
  <script>

     $(document).ready(function(){
    $('.sidenav').sidenav();
  });
    
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems);
  });

  $(document).ready(function(){
    $('select').formSelect();
  });
  </script>
</body>

<footer>
  <div class="container">
    <p>© 2019 Copyright Itza Blanco and Rodrigo Salas</p>
  </div>
</footer>